$one: #FFFFEA;
$two : #76C893;
$three : #FF5E5B;
$four : #277DA1;
$five : #FFBC42;
$grey : #5c5c5c5c;

.color-one {
    color: $one;
}

.color-two {
    color: $two;
}

.color-three {
    color: $three;
}

.color-four {
    color: $four;
}

.color-five {
    color: $five;
}

.color-grey {
    color: $grey;
}

.background-color-one {
    background-color: $one;
}

.background-color-two {
    background-color: $two;
}

.background-color-three {
    background-color: $three;
}

.background-color-four {
    background-color: $four;
}

.background-color-five {
    background-color: $five;
}

.background-color-white {
    background-color: #FFFFFF;
}

.background-color-grey {
    background-color: $grey;
}