#home {
    min-height: calc(100vh - 10rem);
}

#short-about {
    margin-top: 2rem;
    p {
        width: 30rem;
        margin-top: .5rem;
    }
}

#circle-1 {
    left: 6rem;
    top: 10rem;
}

#dots-1 {
    transform: translateY(-4rem);
    right: 10rem;
}

#dots-2 {
    left: 20rem;
    transform: translateY(30rem);
}

#triangle-1 {
    transform: scale(4) translateY(8rem) rotate(10deg);
    right: 3rem;
}

#dev-diagram {
    margin-top: 5rem;
    text-align: center;
    width: 100%;
}

#dev-diagram-lines {
    margin-top: 2rem;

    display: grid;

    grid-template-columns: repeat(3, 33.3%);
    grid-template-rows: repeat(2, 4rem) auto;
    grid-template-areas:
        "topleft topmiddle topright"
        "middleleft middle middleright"
        "bottomleft bottommiddle bottomright";
}

#leftline {
    grid-row: 2;
    grid-column: 1;
}

#middleline {
    grid-row: 1;
    grid-column: 2;
}

#rightline {
    grid-row: 2;
    grid-column: 3;
}

#horiztonalline {
    grid-row: 2;
    grid-column: 2;
    align-self: start;
    justify-self: center;

}

#dev-diagram-item-1 {
    grid-row: 3;
    grid-column: 1;
}

#dev-diagram-item-2 {
    grid-row: 3;
    grid-column: 2;
}

#dev-diagram-item-3 {
    grid-row: 3;
    grid-column: 3;
}

.vert-line {
    width: .4rem;
    background-color: black;
    border-radius: 1rem;
    justify-self: center;
}

.vert-line-small{
    height: 4rem;
}

.vert-line-large {
    height: 8rem;
}

.horiztonal-line {
    width: 200%;
    height: .4rem;
    background-color: black;
    border-radius: 1rem;
}

.dev-diagram-item {
    img {
        margin-top: 2rem;
        width: 4rem;
    }

    p {
        margin-top: 1rem;
        font-size: 1.75rem;
    }
}

#scroll-icon {
    margin-top: 7rem;
    height: 8rem;

    img {
        width: 2rem;
        height: 2rem;
        animation-name: scrollbounce;
        animation-duration: 3s;
        animation-iteration-count: infinite;
    }
}

@keyframes scrollbounce {
    0% {
        transform: translateY(5px);
    }
    50% {
        transform: translateY(-5px);
    }
    100% {
        transform: translateY(5px);
    }
}