@import 'colors';
@import 'alignment';
@import 'background';
@import 'header';
@import 'home';
@import 'about';

* {
    font-size: 62.5%;
    margin: 0;
    padding: 0;
    font-family: 'Outfit', sans-serif;

    overflow-x: hidden;
}

body {
    transition:all 0.5s;
    background-color: $one;
}

h1 {
    font-size: 5rem;
    font-weight: bolder;
}

h2 {
    font-size: 2.5rem;
}

h3 {
    font-size: 2rem;
}

/* width */
::-webkit-scrollbar {
    width: 7px;
}
  
  /* Track */
::-webkit-scrollbar-track {
    background: $one;
}
  
  /* Handle */
::-webkit-scrollbar-thumb {
    background: #5c5c5c;
    border-radius: 1rem;
}
  
  /* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: $five;
}

.subtext {
    font-size: 3rem;
}

.content {
    width: 65%;
    height: auto;
    margin: auto;
}

.name {
    width: 100%;
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.width-100p {
    width: 100%;
}

.width-33p {
    width: 33%;
}

.height-auto {
    height: auto;
}